body{
    background-color:rgb(251, 226, 251);
}

div{
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    border-color:grey;
    border-style:solid;
    padding:5px;
}
#myFirstDiv{
    color:red;
}